/* custom select styles */
.jcf-select {
	height: 42px;
	display: block;
	position: relative;
	border: 1px solid $form-element-border-color;
	background: $white;
	margin: 0 0 18px;
	
	&.jcf-drop-active {
		border-color: $gray-darker;
		
		.jcf-select-opener {
			border-color: $gray-darker transparent transparent;
		}
	}
	.lightbox & {
		height: 41px;
		background: $clr7;
		border-color: transparent;
		border-radius: 2px;
	}
	.form-group & {
		margin: 0;
	}
	select {
		z-index: 1;
		left: 0;
		top: 0;
	}
	.jcf-select-text {
		text-overflow:ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		font-size: 16px;
		line-height: 20px;
		margin: 7px 30px 5px 10px;
		
		@include media('>=tablet') {
			margin: 9px 35px 7px 18px;
			font-size: 18px;
			line-height: 24px;
		}
		.jcf-option-hideme {
			color: $placeholder-color;
		}
	}
	.jcf-select-opener {
		border-style: solid;
		border-width: 6px 6px 0;
		border-color: $clr2 transparent transparent;
		position: absolute;
		top: 17px;
		right: 12px;
		cursor: pointer;
		
		@include media('>=tablet') {
			right: 17px;
		}
		.lightbox & {
			border-color: $gray-dark transparent transparent;
		}
	}
	.jcf-select-drop {
		position: absolute;
		margin-top: 0px;
		z-index: 9999;
		top: 100%;
		left: -1px;
		right: -1px;
	}
	.jcf-drop-flipped {
		bottom: 100%;
		top: auto;
	}
}
body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid $gray-darker;
}
/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid $gray-darker;
	min-width: 200px;
	margin: 0 15px;
}
/* select options styles */
.jcf-list {
	width: 100%;
	@include inline(top);
	position: relative;
	background: $gray-darker;
	font-size: 16px;
	line-height: 22px;
	
	.jcf-list-content {
		@include inline(top);
		overflow: auto;
		width: 100%;
	}
	ul {
		@extend %listreset;
		
		ul li {
			overflow: hidden;
			display: block;
		}
	}
	.jcf-overflow {
		overflow: auto;
	}
	.jcf-option {
		overflow: hidden;
		cursor: default;
		display: block;
		padding: 5px 9px;
		color: $white;
		
		&-hideme {
			display: none;
		}
		.jcf-option {
			padding-left: 30px;
		}
	}
	.jcf-disabled {
		background: $white !important;
		color: #aaa !important;
	}
	.jcf-optgroup-caption {
		white-space: nowrap;
		font-weight: bold;
		display: block;
		padding: 5px 9px;
		cursor: default;
		color: $black;
	}
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: $mostly-white;
	color: $gray-darker;
}